@import "component/header";

.navbarBrandImg{
    height: 7vh;

}


.linkNavBar{
    text-decoration: none;
    color: rgb(236, 236, 236);
    margin: 1em;
    &:hover{
        color: rgb(185, 185, 185);
    }
}

