.navbarBrandImg{
    height: 7vh;

}


.linkNavBar{
    text-decoration: none;
    color: rgb(236, 236, 236);
    margin: 1em;
    
    
    &:hover{
        color: rgb(185, 185, 185);
    }

}


.navshadow{
    box-shadow: -3px 8px 7px -2px rgba(255, 255, 255, 0.25);

}